<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">

	<listeners>
		<listener class-name="com.Eprocurement.Utilities.Reporting"></listener>
	</listeners>

	<test thread-count="5" name="Functional Test">

		<classes>
			<class name="com.Eprocurement.testcases.LoginTest" />
			<class name="com.Eprocurement.testcases.LogoutTest" />
			<class name="com.Eprocurement.testcases.VerifyHomepageTitleTest" />
		</classes>
		
	</test>
	
</suite> 
